{% extends "base.html" %}

{% block content %}
{    <div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="text-center">Add New Employee</h2>
                    <form style="margin-top: 50px" action="/add_employee/" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="d-grid">
                            <input type="submit" value="Submit" class="btn btn-secondary btn-hover-scale">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
