<!-- restaurant_detail.html -->
{% extends "base.html" %}

{% block content %}
    <div class="container mt-5">
        <div class="card">
            <div class="card-header">
                <h2 class="mb-0">Restaurant Details</h2>
            </div>
            <div class="card-body">
                <p><strong>Restaurant Name:</strong> {{ restaurant.name }}</p>
                <p><strong>Capacity:</strong> {{ restaurant.capacity }}</p>
                <p><strong>Phone:</strong> {{ restaurant.phone }}</p>
                <p><strong>Email:</strong> {{ restaurant.email }}</p>
                <p><strong>Working Hours:</strong> {{ restaurant.get_hours }}</p>

                <p><strong>Menu:</strong></p>
                <ul>
                    <!-- Loop through each dish associated with the restaurant -->
                    {% for dish_res in restaurant.dishrestaurant_set.all %}
                        <!-- Display the dish name and its price in a list item -->
                        <li>{{ dish_res.dish.name }} - {{ dish_res.price }}</li>
                    {% empty %}
                        <!-- If there are no dishes available, show this message -->
                        <li>No dishes available.</li>
                    {% endfor %}
                </ul>


                <p><strong>Employees:</strong></p>
                <ul class="list-group">
                    {% for employee in restaurant.get_employees %}
                        <li class="list-group-item">{{ employee }}</li>
                    {% empty %}
                        <li class="list-group-item">No employees available.</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

{% endblock %}